@model CodeArena.Models.Record
@{
    ViewBag.Title = "Score";
}
<h2>User: </h2>
@Model.User
<h2>Number of correct answers: </h2>
@Model.NoCorrectAnswers
<h2>Time: </h2>
@Model.Time
<h3>Score: </h3>
@Model.Score

<table>
    <tr> <th>@Model.User</th> <th>All time best</th></tr>

@for (int i = 1; i <= ViewBag.topRecords.Count; i++)
{ 
    <tr> <td>@i.</td> <td>@ViewBag.topRecords[i-1].Score</td></tr>
}
</table>