@model CodeArena.Models.Battle

@{
    ViewBag.Title = "TaskDescription";
}

<h2>TaskDescription</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentTask.Description.TaskTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentTask.Description.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentTask.Description.DescriptionText)
        </th>
        <th></th>
    </tr>

    
        <tr>
            <td>
                @Html.DisplayFor(model => model.CurrentTask.Description.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(model => model.CurrentTask.Description.Level)
            </td>
            <td>
                @Html.DisplayFor(model => model.CurrentTask.Description.DescriptionText)
            </td>
        </tr>
        

</table>

@Html.ActionLink("Start Coding", "Code", "Battle", new { BattleId = Model.BattleId } , "")
