@model CodeArena.Models.TaskDescription

@{
    ViewBag.Title = "TaskDescription";
}

<h2>TaskDescription</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionText)
        </th>
        <th></th>
    </tr>

    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.DescriptionText)
            </td>
        </tr>
        

</table>

@Html.ActionLink("Start Coding","Code","Battle")
